@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#7D92AD;
    height: 100%;
    width: 100%;
    animation: transitionIn 0.75s;
    overflow-x: hidden;
}
@keyframes transitionIn{
    from {
        opacity : 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
nav{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    background-color: #7D92AD;
    /* border: 1px solid black; */
    width: 1550px;
    height: 100px;
    padding-left: 100px;
}
nav a{
    text-decoration: none;
}
.forsa{
    margin-left: 100px;
}
#font_forsa{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    font-size: 25px;
    color: rgba(14, 24, 33, 1);
}
.login_wrap{
    margin-left: 1100px;
}
.container_login{
    width: 140px;
    height: 51px;
    border-radius: 25px;
    background-color: rgba(52, 73, 102, 1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 25px;
}
.container_login:hover{
    background-color: white;
    color: black;
    transition: ease-in-out 0.3s;
}
.content_container{
    width: 100vw;
    height: 1500px;
    /* border: 2px solid red; */
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.slider{
    height: 1500px;
    width: 1100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.slide{
    height: 700px;
    width: 1100px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}
.slide img{
    margin-top: 0px;
    width: 70%;
}
.aboutus_title{
    margin-top: 50px;
    font-family: "Abril Fatface", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    width: 400px;
    height: 65px;
    color: white;
    border-radius: 25px;
    background-color: #344966;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    margin-top: 100px;
}
.aboutus_desc{
    margin-top: 50px;
    width: 827px;
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: white;
}
.slider_controls{
    margin: 70px;
}