*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color:#7D92AD;
    height: 100%;
    width: 100%;
    animation: transitionIn 0.75s;
    overflow-x: hidden;
}
@keyframes transitionIn{
    from {
        opacity : 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.web-page{
    height: 100%;
    width: 1600px;
    display: flex;
    flex-direction: row;
    /* border: solid 1px black; */
}
.menu{
    height: 100vh;
    width: 300px;
    background-color: #B4CDEC;
    margin-left: 0px;
    border-radius: 0px 20px 0px 0px;
    /* border: solid 1px black; */
    position: fixed;
    top: 0px;
    
}
#menu-list{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin-left: 55px;
    margin-top: 70px;
    font-size: 23px;
    list-style-type: none;
}
#menu-list a{
    text-decoration: none;
}
#home-menu{
    color: #3A4750;
    transition: color 0.5s;
}
#home-menu:hover{
    color: #9eacbf;
}
#course-menu{
    color: white;
    transition: color 0.5s;
}
#course-menu:hover{
    color: #9eacbf;
}
#community-menu{
    color: #3A4750;
    transition: color 0.3s;
}
#community-menu:hover{
    color: #9eacbf;
}
#menu-list li{
    margin-top: 20px;
}
#menu-list i{
    margin-right: 20px;
}
#font_forsa{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #5a666f;
    margin-top: 50px;
    margin-left: 100px;
}
.content{
    height: 1800px;
    width: 1200px;
    /* border: solid 1px black; */
    margin-left: 300px;
}
.content a{
    text-decoration: none;
}
.container_profile{
    position: fixed;
    margin-top: 0px;
    height: 90px;
    width: 1230px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background-color: #7D92AD;
    z-index: 2;
}
#icon_profile{
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin-right: 70px;
    margin-top: 10px;
}

.container_course_title{
    /* border: 1px solid black; */
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}
#font-course{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 5px;
    margin-left: 105px;
    color: lightgray;

}
#font_tanda{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: white;
    margin-left: 20px;
}
#font-calculus{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 5px;
    color: lightgray;
    margin-left: 20px;
}
#font-lhopital{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
    margin-left: 20px;
}
.video_container{
    height: 500px;
    width: 1230px;
    /* border: 1px solid black; */
    background-color: #344C64;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
video{
    border: 8px solid white;
    border-radius: 5px;
}
.video_title_container{
    width: 1230px;
    height: 60px;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}
#title_video{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bolder;
    font-style: normal;
    font-size: 25px;
    letter-spacing: 2.5px;
    color: white;
    margin-left: 40px;
}
.views_container{
    width: 144px;
    height: 52px;
    margin-left: 300px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    border-radius: 25px;
    background-color: #5D728E;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.views_container i{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
.views_container p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
.likes_container{
    width: 144px;
    height: 52px;
    margin-left: 15px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    border-radius: 25px;
    background-color: #5D728E;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.likes_container i{
    color: white;
    margin-left: 25px;
    font-size: 20px;
}
.likes_container p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-left: 10px;
}
.description_container{
   width: 1050px;
   height: 100px;
   background-color: #5D728E;
   border-radius: 20px;
   margin-left: 40px;
   margin-top: 20px;
   padding: 20px 15px 20px 15px;
   box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   max-width: 600px;
   max-height: 80px;
   transition: all 0.5s;
}
.description_container.transform{
    max-width: 1050px;
    max-height: 100px;
}
#desc_title{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: 15px;
    color: white;
}
#desc{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    font-size: 15px;
    color: white;
    text-align: justify;
    margin-top: 10px;
}
.cls_more{
    display: none;
    visibility: hidden;
    transition: all 0.5s;
}
.cls_more.transform{
    display: inline;
    visibility: visible;
}
.cls_dots{
    display: inline;
    transition: all 0.5s;
}
.cls_dots.transform{
    display: none;
}
#see_more{
    margin-left: 10px;
    cursor: pointer;
    color: #A2A2A2;
}
.comment_section{
    width: 1100px;
    height: 720px;
    background-color: #5D728E;
    margin-left: 40px;
    border-radius: 20px;
    margin-top: 40px;
    position: sticky;
    padding-top: 40px;
}
#open_dis{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:800;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 25px;
    color: white;
    margin-left: 25px;
}
.post_container{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 124px;
    width: 1048px;
    background-color: #4D5E71;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 20px;
}
.nickname_section{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 1048px;
    height: 56px;
    border-radius: 20px 20px 0px 0px;
    background-color: #42556C;
}
.nickname_section p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-left: 15px;
}
#circle{
    height: 38px;
    width: 38px;
    background-color: #D9D9D9;
    border-radius: 50%;
    margin-left: 15px;
}
.post_section{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1048px;
    height: 68px;
    background-color: #4D5E71;
    border-radius: 0px 0px 20px 20px;
}
#post input[type="text"]{
    height: 40px;
    width: 700px;
    font-size: 20px;
    margin-left: 25px;
    background-color: #4D5E71;
    border: none;
}
#post input:focus{
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
}
#post input::placeholder{
    color: white;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    letter-spacing: 3px;
    opacity: 0.5;
}
#post input[type="submit"]{
    width: 120px;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: #344966;
    color: white;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    cursor: pointer;
    margin-left: 170px;
}
.npc_container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 204px;
    width: 1048px;
    background-color: #4D5E71;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 20px;
}
.npc_header{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 1048px;
    height: 56px;
    border-radius: 20px 20px 0px 0px;
    background-color: #42556C;
}
.npc_header p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin-left: 15px;
}
#dots_dec{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin-left: 15px;
}
#time_npc{
    font-size: 12px;
    font-weight: lighter;
}
.npc_comment_section{
    width: 1048px;
    height: 148px;
    background-color: #4D5E71;
    /* border: 2px solid black; */
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    text-align: justify;
    border-radius: 0px 0px 20px 20px;
}
.npc_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 900px;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-left: 70px;
}
.npc_symbol_container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: 35px;
    width: 200px;
    /* border: 1px solid black; */
    margin-left: 70px;
}
.npc_symbol_container p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    font-size: 13px;
    color: white;
    margin-left: 8px;
    margin-right: 10px;
}
.npc_symbol_container i{
    font-size: 18px;
    color: white;
}